{{#if visible}}
  <div class="partial-overlay" style={{style}} onmouseenter={{action "contentFocused" true}}>
    <div class="partial-overlay-content">
      <i class="partial-overlay-close remove circle icon" onclick={{action "close"}}></i>
      {{yield}}
    </div>
  </div>
  <div class="partial-overlay-overlay" onmouseenter={{action "contentFocused" false}}></div>
{{/if}}
