<div class="tab-menu">
  {{#each navItems as |pane|}}
    <a href="#{{pane.elementId}}" {{action (action "select" pane.elementId pane.value)}}>
      <div class="tab-pane {{if (eq pane.elementId activeId) "tab-current" ""}}">
        {{#if pane.icon}}
          {{c-font-icon type=pane.icon}}
        {{/if}}
	<span>{{pane.title}}</span>
      </div>
    </a>
  {{/each}}
</div>

<div class="tab-content">
  {{yield
    (hash
        pane=(component "c-tab-pane" parent=this activeId=activeId)
        select=(action "select")
    )
  }}
</div>

